@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;700&display=swap');

*{
    padding:0;
    margin:0;
    box-sizing:boder-box;
}

:root{
    --body-bg-color: rgb(33, 133, 239);
    --search-bg-color: rgb(248, 248, 248);
}

body {
    background-color:var(--body-bg-color);
    width:100vw;
    height:100vh;
    display:flex;
    justify-content: center;
    align-items:center;
    font-family: 'Nunito', sans-serif;
    flex-direction: column;
}
#title{
    color: var(--search-bg-color);
    margin-bottom:20px;
}
#search-box{
  background-color: var(--search-bg-color);
  padding:10px;
  border-radius:30px;
  z-index: 10;
  width:350px;
  display:flex;
  justify-content: space-between;

}

#search{
    font-size:1.2rem;
    border:none;
    outline: none;
    background: transparent;

}

#place-icon{
    font-size:1.3rem;
    padding:10px;
}
#search-icon{
    
    font-size:1.3rem;
    border-radius: 50%;
    padding:10px;
    cursor:pointer;
}

#search-icon:hover{
    background-color:rgb(218, 242, 255);
}
.hidden{
    display:none;
    
}
#error{
    background-color: var(--search-bg-color);
    padding:20px;
    margin-top:-50px;
    border-radius: 30px;
    width:330px;
    text-align: center;
   
}
#error .visible{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    

}
#img-error{
    margin-top:20px;

   
}

#location{
    background-color: var(--search-bg-color);
    padding:20px;
    margin-top:-50px;
    border-radius: 30px;
    width:330px;
    text-align: center;
    
}
#location .visible{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    
    
}
#info-weather{
    margin-bottom:40px;
}




#weather-img{
    width:170px;
    margin-top:50px;
}

#temperature{
    font-size:2.6rem;
}

#description{
    font-weight: 700;
    font-size:1.3rem;
}
#description-weather{
    display:flex;
    justify-content:center;
    gap:60px;
  
}

#humidity{
    display:flex;
    align-items: center;
    gap:10px;
    text-align: left;
}

.info span{
    font-size:1.3rem;
    font-weight:700; 
}

#humidity-icon{
    font-size:1.5rem;
}

#wind{
    display:flex;
    align-items: center;
    gap:10px;
    text-align: left;
}

#wind-icon{
    font-size:1.5rem;
}

.fade-in{
    animation: 0.5s fadeIn forwards;
    animation-delay: 0.5s;
    

}

@keyframes fadeIn{
    to{
        display:block;
    }
}